/* PARAMETROS PAGINA ENTERA */
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* BOTONES CREAR DTE Y HISTORIAL */
a{
    text-decoration: none;
    color: inherit;
}

/* CONTAINERS USER, CREAR DTE , HISTORIAL */
.user{
    background-color: #E3D0FF;
    border-radius: 10px;
    width: 150px;
    margin-top: 50px;
}

.crear{
    margin-top: 100px;
    background-color: #E3D0FF;
    border-radius: 10px;
    padding: 2em;
    height: 150px;
    width: 250px;
}

.history{
    padding: 2em;
    background-color: #F3EBFF;
    border-radius: 10px;
    margin-top: 50px;
    height: 150px;
    width: 250px;
}

/* TAMAÑO DE ICONOS */
.material-symbols-rounded{
    font-size: 50px;
}

/* FORM  */

.form{
    height: 650px;
    border-radius: 20px;
    background-color: #F8F4F4;
}


/* COLORES PARA BOTONES ACTIVOS Y INACTIVOS */
.active-button {
    background-color: #d7bdff !important;
}

.btn-custom {
    background-color: #F3EBFF; 
}


.btn-custom:hover{
    background-color: #eaddfe;
}




.btn-options{
    border-color: #6684FF;
    width: 400px;
    margin-bottom: 15px;
}

.btn-check:checked + .btn-options {
    background-color: #6684FF;
}

.btn-options:hover {
    border-color: #6684FF !important; 
}


.btn-check:checked + .btn-options {
    background-color: #6684FF; 
    color: #fff; 
}


.btn-check:checked + .btn-options:hover {
    background-color: #6684FF;
}

/* COLORES FORM EMISOR */
.input-group-text {
    background-color: #F3EBFF; 
}

.input-group-text,
.form-control {
    border-color: #6684FF; 
}




