/* PARAMETROS PAGINA ENTERA */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* BOTONES CREAR DTE Y HISTORIAL */
a {
    text-decoration: none;
    color: inherit;
}

/* CONTAINERS USER, CREAR DTE , HISTORIAL */
.user {
    background-color: #BDFFD3;
    border-radius: 10px;
    width: 150px;
    margin-top: 70px;
}

.crear {
    margin-top: 100px;
    background-color: #e0ffeb;
    border-radius: 10px;
    padding: 2em;
    height: 150px;
    width: 250px;
}

.history {
    padding: 2em;
    background-color: #BDFFD3;
    border-radius: 10px;
    margin-top: 50px;
    height: 150px;
    width: 250px;
}

/* TAMAÑO DE ICONOS */
.material-symbols-rounded {
    font-size: 50px;
}

/* FORM  */

.form {
    height: 650px;
    border-radius: 20px;
    background-color: #F8F4F4;
}


table{
    border: 2px solid #BDFFD3!important;
}

/* MEDIA QUERY LAPTOP 2 */
@media (768px < width <=1024px) {
   

    /* CONTAINERS USER, CREAR DTE , HISTORIAL */
    .user {
        width: 150px;
        margin-top: 70px;
    }

    .crear {
        margin-top: 100px;
        padding: 2em;
        height: 150px;
        width: 200px;
    }

    .history {
        padding: 2em;
        margin-top: 50px;
        height: 150px;
        width: 200px;
    }

    /* TAMAÑO DE ICONOS */
    .material-symbols-rounded {
        font-size: 50px;
    }

    /* FORM  */
    .form {
        height: 650px;
        border-radius: 20px;
    }

}

/* MEDIA QUERY TABLET */

@media (425px < width <=769px) {
    

    /* CONTAINERS USER, CREAR DTE , HISTORIAL */
    .user {
        width: 150px;
        margin-top: 70px;
    }

    .crear {
        margin-top: 100px;
        height: 100px;
        width: 150px;
        padding: 20px;
    }

    .history {
        margin-top: 50px;
        height: 100px;
        width: 150px;
        padding: 20px;

    }

    /* TAMAÑO DE ICONOS */
    .material-symbols-rounded {
        font-size: 30px;
    }

    /* FORM  */
    .form {
        height: 700px;
        border-radius: 20px;
        margin-bottom: 50px;
    }
}

/* MEDIA QUERY MOBILE L */
@media (375px < width <=425px) {
    *{
        font-size: 12px;
    }
    

    /* CONTAINERS USER, CREAR DTE , HISTORIAL */
    .user {
        width: 70px;
        margin-top: 60px;
        padding: 2px;
    }

    .crear {
        margin-top: 100px;
        height: 80px;
        width: 70px;
        padding: 10px;
    }

    .history {
        margin-top: 50px;
        height: 80px;
        width: 70px;
        padding: 10px;
    }

    /* TAMAÑO DE ICONOS */
    .material-symbols-rounded {
        font-size: 20px;
    }

    /* FORM  */
    .form {
        height: 700px;
        margin-bottom: 50px;
    }
}

/* MEDIA QUERY MOBILE M */

@media (320px < width <=376px) {
    *{
        font-size: 12px;
    }
    

    /* CONTAINERS USER, CREAR DTE , HISTORIAL */
    .user {
        width: 70px;
        margin-top: 60px;
        padding: 2px;
    }

    .crear {
        margin-top: 100px;
        height: 80px;
        width: 70px;
        padding: 10px;
    }

    .history {
        margin-top: 50px;
        height: 80px;
        width: 70px;
        padding: 10px;
    }

    /* TAMAÑO DE ICONOS */
    .material-symbols-rounded {
        font-size: 20px;
    }

    /* FORM  */
    .form {
        height: 700px;
        margin-bottom: 50px;
    }
}

/* MEDIA QUERY MOBILE S */

@media (width <=320px) {
    *{
        font-size: 10px;
    }
    

    /* CONTAINERS USER, CREAR DTE , HISTORIAL */
    .user {
        width: 60px;
        margin-top: 60px;
        padding: 2px;
    }

    .crear {
        margin-top: 100px;
        height: 70px;
        width: 60px;
        padding: 10px;
    }

    .history {
        margin-top: 50px;
        height: 70px;
        width: 60px;
        padding: 10px;
    }

    /* TAMAÑO DE ICONOS */
    .material-symbols-rounded {
        font-size: 20px;
    }

    /* FORM  */
    .form {
        height: 700px;
        margin-bottom: 50px;
    }
}